*.py [cod]
__pycache__/
.venv/
venv/
ENV/
*.py[cod]
*$py.class
.env
db.sqlite3
*.log
media/
staticfiles/
.vscode/
.idea/
staticfiles/
media/inmuebles/
.env
local_settings.py
db_marinmoya_inversiones.sql
*.bak
venv/
mysql_data/