{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Crear Inmueble</title>
  <link rel="stylesheet" href="{% static 'inmuebles/styles.css' %}">
  <link rel="stylesheet" href="{% static 'inmuebles/chatbot.css' %}">

</head>
<body>
    <div class="header">
    <h1>MARÍN MOYA</h1>
    <span>Inversiones con propósito</span>
    </div>
  <div class="container">
    <h1>Crear Inmueble</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Guardar</button>
    </form>

    <p><a href="{% url 'inmuebles_listado' %}">Volver</a></p>
  </div>
</body>
</html>
