{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  <div class="container">
    {% if es_privado %}
      <h2>Mis Publicaciones</h2>
    {% else %}
      <h2>Portafolio de Inmuebles</h2>
    {% endif %}

    {% if es_privado %}
      <a class="btn" href="{% url 'inmuebles_crear' %}">
      + Publicar inmueble
      </a>
    {% endif %}

    <div class="inmuebles-grid">
      {% for i in inmuebles %}
        <div class="card-inmueble">
          <a href="{% url 'inmuebles_detalle' i.id %}">
            <div class="card-photo">
              {% if i.imagen1 %}
                <img src="{{ i.imagen1.url }}" alt="{{ i.titulo }}">
              {% else %}
                <div class="no-photo">Sin Imagen</div>
              {% endif %}
            </div>
            <div class="card-body">
              <h3>{{ i.titulo }}</h3>
              <p>{{ i.ciudad }} - <strong>{{ i.moneda }} $ {{ i.precio|intcomma }}</strong></p>
            </div>
          </a>

          {% if es_privado %}
            <div class="acciones-lista">
                <a href="{% url 'inmuebles_editar' i.id %}" class="btn-accion" title="Editar">✏️</a>
                <a href="{% url 'inmuebles_eliminar' i.id %}" class="btn-accion" title="Eliminar">🗑️</a>
            </div>
          {% endif %}
        </div>
      {% empty %}
        <p style="grid-column: 1 / -1; text-align: center; padding: 40px; color: #7f8c8d;">No hay inmuebles para mostrar en esta sección.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
